/* default styles for all elements */
* {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* body style */
body {
    background-color: #dedede;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* prevent horizontal overflow */
}

.wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 100%; /* ensure wrapper doesnt exceed viewport width */
}

/* center container content */
.container {
    max-width: 1200px;
    width: 100%; /* ensure container fits within viewport */
    margin: auto;
    padding: 30px;
    flex: 1; /* ensures that the container takes all available space */
}

header {
	width: 100%;
    background-color: #41424c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* menu styles */
nav {
    width: 100%; /* ensure nav fits within viewport */
    background-color: #708090;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block; /* ensure nav a elements do not cause overflow */
}

nav a:hover {
    text-decoration: underline;
}

/* form styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 100%; /* ensure form does not exceed viewport width */
}

form button[type="submit"] {
    background-color: white;
    color: white;
    border: 2px solid #dedede;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #f5f5f5;
}

/* remove text decoration from links */
a {
	text-decoration: none;
	color: black;
}

/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #343a40;
    color: white;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* footer styles */
footer {
    width: 100%;
    padding: 20px 0;
    background-color: #41424c;
    color: white;
    text-align: center;
}
