<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calen.mapper.AccountMapper">

	<resultMap type="Account" id="accountMap">
		<id property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="first_name" column="last_name"/>
		<result property="last_name" column="last_name"/>
		<result property="email" column="email"/>
		<result property="account_type" column="account_type"/>
		<result property="account_status" column="account_status"/>
		<result property="reg_date" column="reg_date"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="accountAuth" id="authMap">
		<result property="username" column="username"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="readByUsername" resultMap="accountMap">
		SELECT acc.username, password, first_name, last_name, email, account_type, account_status, reg_date, auth
			FROM account acc LEFT OUTER JOIN account_auth auth
			ON acc.username = auth.username
			WHERE acc.username = #{username}
	</select>
	
	<insert id="signup">
		INSERT INTO account(username, password, first_name, last_name, email, 
		account_status, account_type, reg_date)
			VALUES (#{username}, #{password}, #{first_name}, #{last_name}, #{email}, 
			'ACTIVE', #{account_type}, SYSDATE)
	</insert>
	
	<insert id="signupAuth">
		INSERT INTO account_auth(username, auth)
			VALUES (#{username}, #{auth})
	</insert>
</mapper>
